.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: black ;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}